.popup__container {
  position: relative;
  margin: 195px auto 0;
  box-sizing: border-box;
  padding: 34px 36px 34px;
  width: 430px;
  /* height: 330px; */
  background-color: #fff;
  border-radius: 10px;

}
