.gallery__item {
    width: 100%;
    height: 361px;
    background-color: #fff;
    background-image: url(../../../images/karachaevsk.jpg);
    background-repeat: no-repeat;
    background-size: 282px 282px;
    border-radius: 10px;
    
}