.profile__subtitle {
  padding: 0;
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }
}
