.popup__caption {
  padding: 0;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
<<<<<<< HEAD
}
=======

}
>>>>>>> f0c9c27b893abef0d250bd907dc4be5cdd781b00
