.card__info {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 25px 15px 31px 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}